* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 50px;
}


.container {
    max-width: 1170px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


[class*="col-"] {
    flex: 0 0 auto;
}




.col-1 {
    flex-basis: calc(100%/12);
    background-color: blue;
    border: solid white;
    height: 100px;
    justify-content: center;
    color: white;
    align-items: center;
    display: flex;
}

.col-2 {
    flex-basis: calc((100%/12)*2);
    background-color: blue;
    border: solid white;

    height: 100px;
    justify-content: center;
    color: white;
    align-items: center;
    display: flex;
}

.col-5 {
    flex-basis: calc((100%/12)*5);
    background-color: blue;
    border: solid white;

    height: 100px;
    justify-content: center;
    color: white;
    align-items: center;
    display: flex;
}

.col-12 {
    flex-basis: calc((100%/12)*12);
    background-color: blue;
    border: solid white;

    height: 100px;
    justify-content: center;
    color: white;
    align-items: center;
    display: flex;
}

.col-8 {
    flex-basis: calc((100%/12)*8);
    background-color: blue;
    border: solid white;

    height: 100px;
    justify-content: center;
    color: white;
    align-items: center;
    display: flex;
}

.col-6 {
    flex-basis: calc((100%/12)*6);
    background-color: blue;
    border: solid white;

    height: 100px;
    justify-content: center;
    color: white;
    align-items: center;
    display: flex;
}

.nested-2-col {
    flex-basis: calc((100%/12)*2);
    background-color: green;
    border-top: 10px solid blue;
    border-left: 10px solid blue;
    border-right: 1px solid blue;
    border-bottom: 5px solid blue;

    height: 80px;
    justify-content: center;
    color: white;
    align-items: center;
    display: flex;
}

.nested-8-col {
    flex-basis: calc((100%/12)*8);
    background-color: green;
    border-top: 10px solid blue;
    border-left: 10px solid blue;
    border-right: 15px solid blue;
    border-bottom: 5px solid blue;
    height: 80px;
    justify-content: center;
    color: white;
    align-items: center;
    display: flex;
}


.nested-6-col {
    flex-basis: calc((100%/12)*6);
    background-color: green;
    border-top: 10px solid blue;
    border-left: 10px solid blue;
    border-right: 15px solid blue;
    border-bottom: 5px solid blue;
    height: 80px;
    justify-content: center;
    color: white;
    align-items: center;
    display: flex;
}

.margin-50 {
    margin-top: 50px;
}

.col-11 {
    flex-basis: calc((100%/12)*11);
    background-color: blue;
    border: solid white;

    height: 100px;
    justify-content: center;
    color: white;
    align-items: center;
    display: flex;
}

.col-10 {
    flex-basis: calc((100%/12)*10);
    background-color: blue;
    border: solid white;

    height: 100px;
    justify-content: center;
    color: white;
    align-items: center;
    display: flex;
}

.col-3 {
    flex-basis: calc((100%/12)*3);
    background-color: blue;
    border: solid white;

    height: 100px;
    justify-content: center;
    color: white;
    align-items: center;
    display: flex;
}

.col-4 {
    flex-basis: calc((100%/12)*4);
    background-color: blue;
    border: solid white;

    height: 100px;
    justify-content: center;
    color: white;
    align-items: center;
    display: flex;
}

.col-9 {
    flex-basis: calc((100%/12)*9);
    background-color: blue;
    border: solid white;

    height: 100px;
    justify-content: center;
    color: white;
    align-items: center;
    display: flex;
}


.col-offset-1 {
    margin-left: calc((100%/12)*1);
}

.col-offset-2 {
    margin-left: calc((100%/12)*2);
}

.col-offset-3 {
    margin-left: calc((100%/12)*3);
}

.col-offset-4 {
    margin-left: calc((100%/12)*4);
}

.col-offset-5 {
    margin-left: calc((100%/12)*5);
}

.col-offset-6 {
    margin-left: calc((100%/12)*6);
}

.col-offset-7 {
    margin-left: calc((100%/12)*7);
}

.col-offset-8 {
    margin-left: calc((100%/12)*8);
}

.col-offset-9 {
    margin-left: calc((100%/12)*9);
}

.col-offset-10 {
    margin-left: calc((100%/12)*10);
}

.col-offset-11 {
    margin-left: calc((100%/12)*11);
}

.col-offset-12 {
    margin-left: calc((100%/12)*12);
}



@media screen and (max-width: 480px) {
    [class*="col-"] {
        flex: 0 0 calc((100%/12)*12);
    }
}